*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    height: 50px;
    width: 100%;

    padding: 1px;
    background-color: black;
}
.nav-li li{
    display: inline;
    line-height: 50px;
    margin: 50px;
    position: relative;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
.nav-li li::after{
    content:"";

    position: absolute;
    width: 0%;
    height: 2px;

    top: 100%;
    left: 0;
    margin-top: 10px;
    padding-top: 3px;
    background: #2fdab8;
    transition: 0.4s;

}
.nav-li li:hover::after  
{
    width: 100%;
}
.mens-wear{
    position: relative;
}
.mens-pro{
    display: flex;
    background-color: burlywood;
    width: 0%;
    position: absolute;
    margin: 10px;
}
.mens-pro1{
    margin: 10px;
}
.mens-pro2 li{
    display: block;
    margin: 0;
    padding-left: 20px;
    color: lightslategray;
}
 .mens-pro3 li{
    display: block;
    padding-left: 20px;
    color: lightslategray;
    margin: 0;
}
.womens-pro2 li:hover{
    color: #2fdab8;
}

.mens-pro3 li:hover{
    color: #2fdab8;
}
/* .mens-wear:hover .mens-pro{
    width: 50%;
} */
.womens-wear{
    position: relative;
}
.womens-pro{
    display: flex;
    background-color: rgb(161, 134, 98);
    width: 0%;
    position: absolute;
    margin: 10px;
}
.womens-pro3{
    margin: 10px;
}
.womens-pro2 li{
    display: block;
    margin: 0;
    padding-left: 20px;
    color: lightslategray;
}
.womens-pro1 li{
    display: block;
    padding-left: 20px;
    color: lightslategray;
    margin: 0;
}
.womens-pro2 li:hover{
    color: #2fdab8;
}

.womens-pro1 li:hover{
    color: #2fdab8;
}
.womens-wear:hover .mens-pro{
    width: 50%;
}
/* .womens-wear:hover .womens-pro{
    width: 50%;
} */